streamlit
langchain==0.1.20
langchain-community==0.0.38
langchain-chroma
langchain-huggingface
langchainhub
chromadb
ollama
fpdf
speechrecognition
pyttsx3
pandas
sentence-transformers


